.parent {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgb(230,152,228);
    background: linear-gradient(90deg, rgb(252, 181, 249) 0%, rgb(144, 196, 255) 100%);
}

.links {
    position: absolute;
    top: 200px;
    place-items: center;
    left: 50%;
}

a {
    left: -50%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

header, footer, .section-head, .section-subhead {
    color: rgb(230,152,228);
    text-shadow:
    -1px -1px 0 #FFFFFF,  
     1px -1px 0 #FFFFFF,
     -1px 1px 0 #FFFFFF,
      1px 1px 0 #FFFFFF;
}

header, footer {
    border-radius: 2em;
    border-width: 100%;
    border-style: inset;
    border-color: rgba(135, 206, 250, 0.411);
    color: rgb(230,152,228);
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    font-family: Copperplate;
    font-kerning: auto;
    font-size: 4em;
}

.section-subhead {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

footer {
    margin: 1px;
    font-size: 0.75em;
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 0;
}

.column {
    border-radius: 2em;
    border-width: 100%;
    border-style: inset;
    border-color: rgba(135, 206, 250, 0.411);
    background-color: rgba(79, 134, 168, 0.075);
}

.section-head {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: Copperplate;
    font-size: 3em;
}

.section-content {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 200%;
    color: white;
    align-items: middle;
}

