.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

header, footer {
    grid-column: 1/4;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    color: blue;
}

footer h3 {
    border-radius: 1em;
    border-width: 100%;
    border-style: inset;
    border-color: white;
    margin: 0.5em 0.5em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.5em;
    padding: 0.75em;
}

.column h2 {
    align-items: top;
    color: red;
}

.column {
    font-family: "Lucida Console", Monaco, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-bar{
    background-color: bisque;
}

#mid-bar{
    background-color: skyblue;
}

#right-bar{
    background-color: lightcoral;
}
